# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# datasets
data/raw-img
# Virtual environments
.venv/
venv/
env/
# ner_model
trained_models/ner_model